XC7A35T_FT2232H_Sync.cache/ip/2025.2/b/3/b3d3adff5384cb60/stats.txt
XC7A35T_FT2232H_Sync.cache/wt/synthesis.wdf
XC7A35T_FT2232H_Sync.cache/wt/webtalk_pa.xml
XC7A35T_FT2232H_Sync.runs/.jobs/vrs_config_13.xml
XC7A35T_FT2232H_Sync.runs/impl_1/.init_design.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.opt_design.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.phys_opt_design.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.place_design.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.route_design.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.vivado.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/.write_bitstream.begin.rst
XC7A35T_FT2232H_Sync.runs/impl_1/clockInfo.txt
XC7A35T_FT2232H_Sync.runs/impl_1/gen_run.xml
XC7A35T_FT2232H_Sync.runs/impl_1/init_design.pb
XC7A35T_FT2232H_Sync.runs/impl_1/opt_design.pb
XC7A35T_FT2232H_Sync.runs/impl_1/phys_opt_design.pb
XC7A35T_FT2232H_Sync.runs/impl_1/place_design.pb
XC7A35T_FT2232H_Sync.runs/impl_1/route_design.pb
XC7A35T_FT2232H_Sync.runs/impl_1/rundef.js
XC7A35T_FT2232H_Sync.runs/impl_1/runme.log
XC7A35T_FT2232H_Sync.runs/impl_1/runme.sh
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_bus_skew_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_bus_skew_routed.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_clock_utilization_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_control_sets_placed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_drc_opted.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_drc_opted.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_drc_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_drc_routed.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_io_placed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_methodology_drc_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_methodology_drc_routed.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_opt.dcp
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_physopt.dcp
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_placed.dcp
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_power_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_power_routed.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_route_status.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_routed.dcp
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_timing_summary_routed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_timing_summary_routed.rpx
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_utilization_placed.pb
XC7A35T_FT2232H_Sync.runs/impl_1/top_module_utilization_placed.rpt
XC7A35T_FT2232H_Sync.runs/impl_1/top_module.tcl
XC7A35T_FT2232H_Sync.runs/impl_1/top_module.vdi
XC7A35T_FT2232H_Sync.runs/impl_1/vivado.jou
XC7A35T_FT2232H_Sync.runs/impl_1/vivado.pb
XC7A35T_FT2232H_Sync.runs/impl_1/write_bitstream.pb
XC7A35T_FT2232H_Sync.runs/synth_1/.vivado.begin.rst
XC7A35T_FT2232H_Sync.runs/synth_1/gen_run.xml
XC7A35T_FT2232H_Sync.runs/synth_1/runme.log
XC7A35T_FT2232H_Sync.runs/synth_1/top_module_utilization_synth.pb
XC7A35T_FT2232H_Sync.runs/synth_1/top_module_utilization_synth.rpt
XC7A35T_FT2232H_Sync.runs/synth_1/top_module.dcp
XC7A35T_FT2232H_Sync.runs/synth_1/top_module.vds
XC7A35T_FT2232H_Sync.runs/synth_1/vivado.jou
XC7A35T_FT2232H_Sync.runs/synth_1/vivado.pb
